html {
  font-family: "Microsoft Yahei";
}
body {
	font-family:"Microsoft Yahei";
	font-size:14px;
	margin:0;
	background: url(../img/login_bg22.jpg) no-repeat;
	 height:100%;
  width:100%;
  overflow: hidden;
  background-size:cover;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{font-family: "microsoft yahei";}
.headerDiv{
	margin-top: 40px;
	padding: 20px 0;
}
.headerDiv .title{
	font-weight: 800;
	font-size: 24px;
}
.headerDiv img{
	margin-right: 10px;
	float: left;
	margin-top: 8px;
}

.main_body{
	/*background: #57a4f6;*/
	padding: 20px 0;
	padding-bottom:70px;
}
.imgDIV{
	text-align: right;
	float: right;
  margin-top: 50px;
	margin-right: 70px;
}
.imgDIV img{
	max-width: 300px;
}
.login-box{
	position: relative;
	width: 350px;
	float: right;
}
.login_form{
	width: 300px;
	margin-top: 50px;
	background: #fff;
	padding: 30px;
	margin-right: 0;
	z-index: 100;
}
.divBg{
	position: absolute;
	top: 35px;
	height: 25px;
	width: 100%;
	border-radius: 15px;
	background: #3072be;
	left: -25px;
  z-index: 10;
  /*behavior: url("http://127.0.0.1:8020/coalDemo/css/ie-css3.htc");*/
}
.form_header{
	text-align: center;
	padding: 10px 0;
}
.form_header img{
	width: 60px;
	height: 60px;
}
.footer{
	padding: 20px 0;
}
.footer p{
	text-align: center;
}
.input-group-addon{color: #999999;}
@media (min-width: 1200px) {
	/*.main_body .container {
		    margin-right: 20%;
	}*/
}
